$o-community-color: #1A1A1A !default; // 🔴 Red or whatever color you want
$o-white: #FEFEF9 !default;

$o-gray-100: #f0e8db !default;
$o-gray-200: #d3c5b7 !default;
$o-gray-300: #b7a493 !default;
$o-gray-400: #9b8370 !default;
$o-gray-500: #7f6350 !default;
$o-gray-600: #644a39 !default;
$o-gray-700: #493225 !default;
$o-gray-800: #2f1d14 !default;
$o-gray-900: #1a1a1a !default;

$o-view-background-color: #f3ebe8 !default;


@font-face {
   font-family: "Avenir";
   font-weight: 400;
   font-style: normal;
   src: url('/fonts/Avenir-Book.woff') format('woff'),
        url('/fonts/Avenir-Book.woff2') format('woff2');
}



$o-system-fonts: ("Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, sans-serif) !default;